.header {
  display: flex;
  margin: 0 auto;
}

.logo {
  width: 40%;
}

.logo__title {
  display: inline-block;
  font: 30px/110px 'flatFormLight', sans-serif;
  color: grey;
  text-decoration: none;
}

.header__section {
  width: 60%;
  font-size: 1.3rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration::after {
  content: ' | ';
}

.email_address {
  color: #ee503d;
  text-decoration: none;
}
