.sprite {
    background-image: require(url('./spritesheet.png'));
    background-repeat: no-repeat;
    display: block;
}

.facebook {
    width: 27px;
    height: 61px;
    background-position: -5px -5px;
}

.instagram {
    width: 61px;
    height: 63px;
    background-position: -42px -5px;
}

.twitter {
    width: 33px;
    height: 32px;
    background-position: -113px -5px;
}
