.item {
  min-height: 340px;
}

.title {
  font-family: FlatForm, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  bottom: 7rem;
  text-align: center;
}

.banner-image {
  width: 100%;
}
