.item {
  min-height: 340px;
}

.title {
  font-family: FlatForm,Arial,sans-serif;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  bottom: 100px;
  text-align: center;
}

.banner-image {
  width: 100%;
}
